.banner {
  font-family: "Fjalla One", sans-serif;
  color: white;
  font-size: 24px;
}
.banner-container {
  background-color: #e3221e;
  width: 30%;
  /* padding-left: 5px; */
  padding-right: 10px;
}
